<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!--    setter injection value as element-->
    <bean class="org.example.spring.setterinjection.Student" name = "student">
        <property name="studentName">
            <value>Dev Kumawat</value>
        </property>
        <property name="studentId">
            <value>17egics024</value>
        </property>
        <property name="studentAddress">
            <value>Nimbahera</value>
        </property>
    </bean>

    <!-- setter injection value as attribute -->
    <bean class="org.example.spring.setterinjection.Student" name = "student1">
        <property name="studentName" value="Mehul" />
        <property name="studentId" value="17egime012" />
        <property name="studentAddress" value="Nimbahera" />
    </bean>

    <!-- setter injection value as p -schema -->
    <bean class="org.example.spring.setterinjection.Student" name = "student2"
    p:studentName="Raj" p:studentId="17egime012" p:studentAddress = "Nimbahera" />

    <!-- setter injection for reference type -->
    <bean class="org.example.spring.setterinjection.Teacher" name = "teacher">
        <property name="name" value="JK"/>
<!--        <property name="student">-->
<!--            <ref bean="student1"/>-->
<!--        </property>-->
        <property name="student" ref="student"/>
    </bean>
</beans>